<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vromia.e_nurseproject" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/enurse"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.DietActivity" />
        <activity android:name=".Activities.HistoryActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.UserDetailsActivity" />
        <activity android:name=".Activities.WorkoutActivity" />
        <activity android:name=".Activities.SettingsActivity" />
        <activity android:name=".Activities.HomeActivity"/>
        <activity android:name=".Activities.DrugsActivity"/>
        <!--<activity-->
            <!--android:name=".Activities.LoginActivity"-->
            <!--android:label="@string/title_activity_login" >-->
        <!--</activity>-->
    </application>

</manifest>
